/*      公共区        */
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100px;
}
body {
  background-color: #f5f5f5;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
/*       头部         */
header {
  width: 100%;
  background-color: #ff8a00;
  display: flex;
  justify-content: space-around;
  font-size: 0;
  padding: 0.1rem;
  box-sizing: border-box;
}
header .header_l {
  width: 20%;
}
header .header_l > img {
  width: 100%;
}
header .header_r {
  width: 20%;
  display: flex;
}
header .header_r > div {
  width: 50%;
}
header .header_r > div img {
  width: 50%;
}
/*        主体        */
.title {
  width: 100%;
  display: flex;
  padding: 3% 5%;
  box-sizing: border-box;
  border-bottom: 1px solid #c5c5c5;
}
.title a {
  color: #000000;
  font-size: 0.12rem;
}
.title > a:first-child {
  font-weight: 600;
}
.cont {
  width: 100%;
  padding: 0% 5%;
  box-sizing: border-box;
}
.cont .cont_con {
  width: 100%;
  border-bottom: 1px solid #ff8a00;
  padding: 5% 0%;
  box-sizing: border-box;
  display: flex;
}
.cont .cont_con .cont_img {
  width: 32%;
  margin-right: 3%;
  font-size: 0rem;
}
.cont .cont_con .cont_img img {
  width: 100%;
}
.cont .cont_con .cont_font {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cont .cont_con .cont_font .hous_addr,
.cont .cont_con .cont_font .pic,
.cont .cont_con .cont_font .date {
  font-size: 0.12rem;
  margin-bottom: 2%;
}
.cont .cont_con .cont_font .house {
  font-size: 0.14rem;
  font-weight: 600;
  margin-bottom: 5%;
}
.cont .cont_con .cont_font .pic > span {
  margin-left: 5%;
  font-weight: 600;
  color: #ff8a00;
}
.cont .cont_con:last-child {
  border: none;
}
/*        底部          */
.foo {
  width: 100%;
  padding: 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #2f3130;
  font-size: 0rem;
}
.foo .foo_t {
  display: inline-flex;
  border-bottom: 1px solid #3e403f;
  padding: 2%;
  box-sizing: border-box;
}
.foo .foo_t a {
  color: #939494;
  font-size: 0.14rem;
}
.foo .foo_m {
  display: flex;
  padding: 5%;
  box-sizing: border-box;
}
.foo .foo_m .foo_m-l {
  width: 50%;
  display: flex;
}
.foo .foo_m .foo_m-l .foo_m_img,
.foo .foo_m .foo_m-l .font {
  width: 35%;
  margin-left: 8%;
}
.foo .foo_m .foo_m-l .foo_m_img > img {
  width: 100%;
}
.foo .foo_m .foo_m-l .font {
  font-size: 0.14rem;
  color: #939494;
}
.foo .foo_b {
  width: 100%;
  text-align: center;
  font-size: 0.14rem;
  color: #939494;
}
.foo .foo_b div {
  width: 100%;
}
